.error {
    text-align: center;
    margin: 100px 0 200px;
}

.error h1 {
    font-size: 50px;
}

.link {
    background-color: aqua;
    color: white;
    display: inline-block;
    padding: 10px;
}